// colors
$primary: gray;
$danger: #dc3545;

/******************no SelectAndCrop styles*****************/
.container {
  margin: auto;
  text-align: center;
  width: calc(100% - 1rem);
}

.responsive-img {
  width: 100%;
}

.error-message {
  color: $danger;
  font-weight: bold;
}

.remove-image {
  margin-bottom: 20px;
}

form {
  display: inline-block;
  margin-bottom: 20px;
}
/******************no SelectAndCrop end styles*****************/

/******************SelectAndCrop styles*****************/
.resize-move-crop-container {
  position: relative;
  user-select: none;
  width: calc(100% - 1rem);
  margin: 0 auto 20px;

  img {
    width: 100%;
    display: block;
  }
}

// overlay styles
.overlay-n,
.overlay-e,
.overlay-s,
.overlay-w {
  position: absolute;
  background-color: #000;
  opacity: 0.7;
}

.overlay-n {
  top: 0;
}

.overlay-e {
  top: 0;
  right: 0;
  bottom: 0;
}

.overlay-s {
  bottom: 0;
}

.overlay-w {
  top: 0;
  bottom: 0;
  left: 0;
}

.resizable {
  background: transparent;
  position: absolute;
  cursor: all-scroll;

  .resizers {
    width: 100%;
    height: 100%;
    border: 1px dashed $danger;
    box-sizing: border-box;
    touch-action: none;

    .resizer {
      width: 20px;
      height: 20px;
      background: $danger;
      border: 1px solid $danger;
      position: absolute;
      z-index: 10;
      
      @media(min-width: 768px) {
        width: 10px;
        height: 10px;
      }

      &.top-left {
        left: 0px;
        top: 0px;
        cursor: nwse-resize; /*resizer cursor*/
        transform: translate(-30%, -30%);
      }

      &.top-right {
        right: 0px;
        top: 0px;
        cursor: nesw-resize;
        transform: translate(30%, -30%);
      }

      &.bottom-left {
        left: 0px;
        bottom: 0px;
        cursor: nesw-resize;
        transform: translate(-30%, 30%);
      }

      &.bottom-right {
        right: 0px;
        bottom: 0px;
        cursor: nwse-resize;
        transform: translate(30%, 30%);
      }
    }
  }
}

/******************SelectAndCrop end styles*****************/

/******************SelectAndCropControls styles*****************/
.controls-wrapper {
  width: calc(100% - 1rem);
  max-width: 638px;
  margin: 0 auto;

  .controls {
    margin: 0 -0.5rem;

    .control-col {
      display: inline-block;
      padding: 0 0.25rem;
    }
    
    .btn-group {
      margin: 0 0 0.5rem 0;
      display: inline-flex;

      input {
        display: none;
        &:checked + label.btn-primary {
          background-color: darken($primary, 10%);
        }
      }

      .btn {
        &:nth-of-type(1) {
          border-top-left-radius: 0.25rem;
          border-bottom-left-radius: 0.25rem;
        }

        &:last-child {
          border-top-right-radius: 0.25rem;
          border-bottom-right-radius: 0.25rem;
        }
      }
    }
  }

  // tooltip on top
  .on-top {
    &::after {
      content: attr(data-tool-tip);
      position: absolute;
      color: #fff;
      text-transform: capitalize;
      background-color: #171616;
      padding: 10px 9px;
      border-radius: 4px;
      font-size: 12px;
      white-space: nowrap;
      display: none;
      top: -47px;
      left: 50%;
      transform: translateX(-50%);
    }

    &::before {
      content: "";
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 8px solid #171616;
      height: 0;
      width: 0;
      margin: auto;
      position: absolute;
      top: -6px;
      right: 50%;
      transform: translate(50%, -50%);
      display: none;
    }

    &:hover {
      &::before,
      &::after {
        display: inline-block;
        z-index: 1;
      }
    }
  }
}

@media (min-width: 650px) {
  .controls-wrapper {
    .controls-row {
      flex-direction: row;
    }
  }
}
/******************SelectAndCropControls end styles*****************/

/******************CropImage styles*****************/
.crop-image-component-wrapper {
  text-align: center;
  margin: 20px 0;
}
/******************CropImage end styles*****************/

/******************Loader styles*****************/
.loader {
  width: 100px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;

  span {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-color: gray;
    margin: 2rem 0.5rem;

    &:nth-child(1) {
      animation: bounce 1s ease-in-out infinite;
    }

    &:nth-child(2) {
      animation: bounce 1s ease-in-out 0.33s infinite;
    }

    &:nth-child(3) {
      animation: bounce 1s ease-in-out 0.66s infinite;
    }
  }
}

@keyframes bounce {
  0%,
  75%,
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  25% {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
/******************Loader end styles*****************/

/******************buttons styles*****************/
.btn {
  text-align: center;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
  min-width: 42px;
  position: relative;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &.btn-danger {
    color: #fff;
    background-color: $danger;
    border-color: $danger;
    border-radius: 0.25rem;
    &:hover {
      background-color: darken($danger, 10%);
      border-color: darken($danger, 11%);
    }
  }

  &.btn-primary {
    color: #fff;
    background-color: $primary;
    border-color: $primary;
    &:hover {
      background-color: darken($primary, 10%);
      border-color: darken($primary, 11%);
    }
    &:disabled,
    &[disabled] {
      color: #d0cece;
      cursor: not-allowed;
      background-color: lighten($primary, 5%);
      &:hover {
        background-color: lighten($primary, 5%);
        border-color: transparent;
      }
    }
  }
}
/******************buttons end styles*****************/
