.forms {
  width: 100%;
  background-color: darkgray;
}

.form-fields {
  width: 80%;
  margin: auto;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  margin-top: 3%;
}

.form-fields .inputs {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border: 0;
  color: black;
  padding: 1%;
  border-radius: 10%;
}

.form-fields .password-inputs {
  display: flex;
  flex-wrap: wrap;
  margin-left: 24%;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border: 0;
  color: black;
  padding: 1%;
  border-radius: 10%;
}

.form-fields .labels {
  display: flex;
  /* justify-content: center; */
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0 25%;
  align-items: center;
  margin: 1rem auto;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.863);
}

.form-fields .buttons {
  display: flex;
  flex-wrap: wrap;
  width: 20%;
  padding: 1%;
  font-size: 1.5rem;
  outline: 0;
  border: 2px solid black;
  border-radius: 12px;
  background-color: #c4dbf6;
  color: black;
  font-weight: 600;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-fields .buttons:hover {
  box-shadow: 1rem 1rem 1.5rem #8590aa;
  cursor: pointer;
}

.calendar {
  font-weight: 700;
  padding: 0 24%;
  margin: auto;
}
