.save-img-button:hover + .hiddenMissingInputMessage {
    display: block;
    z-index: 10;
}

.hiddenMissingInputMessage{
    display: none;
    position: absolute;
    top: 40vh;
    left: 44vw;
    border: solid black 0.1rem;
}
