.save-img-button:hover + .hiddenErrorMessage {
    display: block;
    z-index: 10;
}

.hiddenErrorMessage{
    display: none;
    position: absolute;
    top: 70vh;
    left: 44vw;
    border: solid black 0.1rem;
}
