.speech-bubble {
	position: relative;
    background: #ff0002;
    border-radius: .4em;
    width: 25em;
    height: 1em;
    margin: auto;
    margin-bottom: auto;
    margin-bottom: 1.4em;
    margin-top: 1.4em;
    text-align: center;
    top: 50%;
    padding: 2em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 1.5em solid transparent;
	border-top-color: #ff0002;
	border-bottom: 0;
	border-left: 0;
	margin-left: -0.75em;
	margin-bottom: -1.5em;
}